.books-form {
    width: 100%;
}

.new-book-input {
    box-sizing: border-box;
    width: 55%;
    padding: 8px 13px;
    margin-right: 2%;
}

.new-book-category {
    width: 23%;
    padding: 8px 13px;
    margin-right: 2%;
}

.books-form input[type="submit"] {
    width: 18%;
    padding: 8px 13px;
    background: #0290ff;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

