.book {
    padding: 32px 27px;
    background: #fff;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    margin: 5px 0;
}

.category {
    color: #121212;
    opacity: .5;
    font-weight: bold;
}

.author {
    color: #4386bf;
    font-weight: lighter;
}

.book-controls {
    margin-top: 15px;
}

.book-controls-btn {
    background: transparent;
    border: none;
    border-right: 1px solid #ccc;
    padding: 0 8px;
    color: #4386bf;
}

.book-controls-btn:hover {
    text-decoration: underline;
}

.book-controls-btn:first-child {
    padding-left: 0;
}

.book-controls-btn:last-child {
    border: none;
}